<app-top-menu></app-top-menu>
<div class="theRest">
  <div class="form">
    <div>Welcome to your config, {{http.username}}!</div>
    <div>You can:</div>
    <div (click)="changePassword()" class="button">Change password</div>
    <input (keyup.enter)="changePassword()" [(ngModel)]="newPassword"
           [class.warning]="newPassword.length && newPasswordRepeat.length && newPassword != newPasswordRepeat"
           placeholder="new password"
           type="password">
    <input (keyup.enter)="changePassword()" [(ngModel)]="newPasswordRepeat"
           [class.warning]="newPassword.length && newPasswordRepeat.length && newPassword != newPasswordRepeat"
           placeholder="new password repeat"
           type="password">
    <div>OR</div>
    <div (click)="deleteUser()" class="button">Delete your account</div>
  </div>
</div>
