:host, .background {
  position: fixed;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  z-index: 100;
  display: flex;
  justify-content: center;
  align-items: center;
}

.background {
  background: #2d2d2d;
  opacity: .5;
  z-index: 101;
}

* {
  font-size: 25px;
}

input {
  width: 100%;
}

.form {
  z-index: 102;
  background: #474747;
  border-radius: 5px;
  border: 2px solid #02a28e;
  padding: 20px;
  opacity: 1;
}

.question {
  padding-bottom: .5em;
}
