:host {
  overflow-y: auto;
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.title, .videoContainer {
  width: 100%;
  text-align: center;
  display: flex;
  justify-content: center;
}

.content {
  width: 100%;
  max-width: 20cm;
}
