<div *ngIf="selectedDeviceVar; else devicesInfoPage">
  <div class="device-name">{{ selectedDeviceVar.name | uppercase }}</div>
  <div *ngIf="selectedDeviceVar.status === 'offline'" style="text-align: center; padding-top: 1em">
    <app-warning-div [text]="'We were unable to establish connection with your device. Stay tuned.'"></app-warning-div>
  </div>
  <app-instalation-mode-select *ngIf="selectedDeviceVar.status === 'not-linked'; else selectedDeviceInfo"
                               [selectedDevice]="selectedDeviceVar"></app-instalation-mode-select>
  <ng-template #selectedDeviceInfo>
    <div class="buttons">
      <div class="button">Attacks</div>
      <div class="button">Bans</div>
      <div class="button">Device profiles</div>
      <div class="button">Device config</div>
    </div>
  </ng-template>
</div>
<ng-template #devicesInfoPage><p *ngIf="devicesInfo; else loadingInfo">
  Welcome to the control panel!<br>
  <--- Select (or create new) device on the left to manage them<br>
  Right now you have {{devicesInfo.total}} devices!
  <span *ngIf="devicesInfo.offline > 0"><br>{{devicesInfo.offline}} device{{devicesInfo.offline == 1 ? ' is' : 's are'}}
    offline</span>
  <span *ngIf="devicesInfo.needsLinking > 0"><br>{{devicesInfo.needsLinking}}
    device{{devicesInfo.needsLinking == 1 ? ' needs' : 's need'}} link with your account</span>
</p>
</ng-template>
<ng-template #loadingInfo>
  <p>
    Loading info about your devices...
  </p>
</ng-template>
