<div *ngIf="selectedDeviceVar; else devicesInfoPage">
  <div class="device-name">{{ selectedDeviceVar.name | uppercase }}</div>
  <div *ngIf="selectedDeviceVar.status === 'offline'" style="text-align: center; padding-top: 1em">
    <app-warning-div [text]="'We were unable to establish connection with your device. Stay tuned.'"></app-warning-div>
  </div>
  <app-instalation-mode-select *ngIf="selectedDeviceVar.status === 'not-linked'; else selectedDeviceInfo"
                               [selectedDevice]="selectedDeviceVar"></app-instalation-mode-select>
  <ng-template #selectedDeviceInfo>
    <div class="buttons">
      <div (click)="selectedInfoPanel = 'info'" [class.active]="selectedInfoPanel==='info'" class="button">
        Info
      </div>
      <div (click)="selectedInfoPanel = 'attacks'" [class.active]="selectedInfoPanel==='attacks'" class="button">
        Attacks
      </div>
      <div (click)="selectedInfoPanel = 'bans'" [class.active]="selectedInfoPanel==='bans'" class="button">Bans</div>
      <div (click)="selectedInfoPanel = 'profiles'" [class.active]="selectedInfoPanel==='profiles'" class="button">
        Device profiles
      </div>
      <div (click)="selectedInfoPanel = 'config'" [class.active]="selectedInfoPanel==='config'" class="button">
        Device config
      </div>
    </div>
    <div *ngIf="selectedInfoPanel === 'profiles'" class="info-content">
      <div *ngIf="selectedDeviceVar.profiles.length === 0">
        It seems that this device has not profiles yet! Jump to <!--suppress JSIgnoredPromiseFromCall -->
        <a (click)="router.navigate(['/hub'])">Hub</a> and get some!
      </div>
      <app-profile *ngFor="let profileID of selectedDeviceVar.profiles" [allowSend]="false" [disabled]="true"
                   (profileRemove)="refresh()" [device]="selectedDeviceVar" [expandable]="true"
                   [id]="profileID"></app-profile>
    </div>
    <div *ngIf="selectedInfoPanel === 'config'" class="info-content">
      <div>
        <div class="text">Installed version: {{selectedDeviceVar.version}}</div>
        <div (click)="this.deviceGetter.deviceUpdate(selectedDeviceVar)" class="button">Update
          to {{selectedDeviceVar.version}}</div>
      </div>
      <div (click)="renameDevice()" class="button">Rename</div>
      <div (click)="this.deviceGetter.deviceDelete(selectedDeviceVar)" class="button">Delete this device</div>
    </div>
    <div *ngIf="selectedInfoPanel === 'bans'" class="info-content">
      <table>
        <thead>
        <tr>
          <th>Time</th>
          <th>IP</th>
          <th>Attacks count</th>
          <th></th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let ban of selectedDeviceVar.bans">
          <td>{{formatDate(ban.time)}}</td>
          <td>{{ban.ip}}</td>
          <td>{{ban.attacksCount}}</td>
          <td>
            <div (click)="unblock(ban.ip)" class="button">Unblock</div>
          </td>
        </tr>
        </tbody>
      </table>
    </div>
    <div *ngIf="selectedInfoPanel === 'attacks'" class="info-content">
      <table>
        <thead>
        <tr>
          <th>Time</th>
          <th>IP</th>
          <th>Profile</th>
          <th>User</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let attack of selectedDeviceVar.attacks">
          <td>{{formatDate(attack.time)}}</td>
          <td>{{attack.ip}}</td>
          <td>{{attack.profile}}</td>
          <td>{{attack.user}}</td>
        </tr>
        </tbody>
      </table>
    </div>
  </ng-template>
</div>
<ng-template #devicesInfoPage><p *ngIf="devicesInfo; else loadingInfo">
  Welcome to the control panel!<br>
  <--- Select (or create new) device on the left to manage them<br>
  Right now you have {{devicesInfo.total}} devices!
  <span *ngIf="devicesInfo.offline > 0"><br>{{devicesInfo.offline}} device{{devicesInfo.offline == 1 ? ' is' : 's are'}}
    offline</span>
  <span *ngIf="devicesInfo.needsLinking > 0"><br>{{devicesInfo.needsLinking}}
    device{{devicesInfo.needsLinking == 1 ? ' needs' : 's need'}} link with your account</span>
</p>
</ng-template>
<ng-template #loadingInfo>
  <p>
    Loading info about your devices...
  </p>
</ng-template>
