<app-top-menu></app-top-menu>
<div class="theRest">
  <h2>Simple-Guardian is</h2>
  <ul>
    <li>a software that protects against brute force attacks</li>
    <li>an alternative to <a href="https://www.fail2ban.org" target="_blank">Fail2Ban</a></li>
    <li><a href="https://github.com/esoadamo/simple-guardian" target="_blank">open source</a></li>
    <li>as easy as possible</li>
    <li>as fast as possible</li>
    <li>created by <a href="https://adamhlavacek.com" target="_blank">Adam Hlaváček</a></li>
  </ul>
  <h2>Privacy</h2>
  <p>When you register to Simple-Guardian Web server, only the most important information about you is saved to the
    database.
    Saved data consist of your mail used during registration, bcrypt encrypted password, list of names of your devices,
    attacks and bans performed on your devices, installed client version and all hub profiles that you create.<br>
    All Hub profiles are public.<br>
    Other data are never shared with anyone and are stored only on the Simple-Guardian Web server you registered to.<br>
    If you choose to delete your account, all your data (user information, devices, bans, attacks, hub profiles) are
    deleted
    from the database without any delay.
  </p>

</div>
