<div class="buttons">
  <div class="top-button" routerLink="/home" routerLinkActive="active">Main page</div>
  <div *ngIf="http.username.length > 0" class="top-button" routerLink="/control" routerLinkActive="active">Control</div>
  <div class="top-button" routerLink="/hub" routerLinkActive="active">Hub</div>
  <div class="top-button" routerLink="/about" routerLinkActive="active">About</div>
</div>
<div *ngIf="http.username.length > 0">
  <div class="top-button" routerLink="/config" routerLinkActive="active">⚙ {{http.username}} ⚙</div>
  <div (click)="http.logout()" class="top-button">Log out</div>
</div>
<div *ngIf="http.username.length === 0">
  <div class="top-button" routerLink="/login" routerLinkActive="active">Log in</div>
  <div class="top-button" routerLink="/register" routerLinkActive="active">Register</div>
</div>
