$fontSize:25px;

:host {
  overflow-y: auto;
  overflow-x: hidden;
  background: #2d2d2d;
  padding-right: 10px;
  border-right: 2px solid #3f3f3f;
}

.device {
  border: 1px solid #000000;
  font-size: $fontSize;
  background: #474747;
  padding-top: 10px;
  padding-bottom: 10px;
  text-align: center;

  div {
    display: inline-block;
  }
}

.device.selected {
  background: #02a28e;
}

.device-status {
  width: $fontSize;
  height: $fontSize;
  min-width: $fontSize;
  min-height: $fontSize;
  border-radius: $fontSize;
  margin-left: .5ex;
  margin-right: .5ex;
}

.device-status.online {
  background: greenyellow;
}

.device-status.offline {
  background: red;
}

.device-status.not-linked {
  background: gray;
}

.device-name {
  width: calc(100% - (2 * #{$fontSize}) - 3.5ex)
}

.sep {
  min-height: 1em;
  width: 100%;
}
