$button-size: 10ex;
$button-margin: 2ex;

.button {
  width: $button-size;
  height: $button-size;
  padding: $button-margin;
  border: 1px solid #02a28e;
  vertical-align: middle;
  cursor: pointer;
  background: #474747;
}

.button.selected {
  background: #02a28e;
}


.button.delete {
  height: 1em;
  width: 80%;
}

.button:hover {
  filter: brightness(1.1);
}

.buttons {
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 2em;
}

.option-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: .5em;

  div, app-warning-div {
    margin-bottom: 2em;
  }
}
