.article {
  border: 1px solid #000000;
  font-size: 25px;
  background: #474747;
  padding-top: 10px;
  padding-bottom: 10px;
  text-align: center;
}

.article.active {
  background: #02a28e;
}

@media (max-width: 1099px) {
  app-article {
    margin-left: 25px;
  }
}
