html, body {
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
  background: #333333;
  color: white;
  font-family: "Ubuntu Light", sans-serif;
}

code {
  font-family: "Droid Sans Mono", monospace;
  background: #2d2d2d;
  color: #9aff00;
  padding: 20px;
  border-radius: 5px;
  text-align: left;
}

.button {
  background: #2d2d2d;
  border: 2px solid #02a28e;
  border-radius: 5px;
  padding: 10px;
  margin-top: .5em;
  cursor: pointer;
  text-align: center;
}

.button:hover {
  filter: brightness(1.1);
}

.button.active {
  background: #02a28e;
}
