<app-top-menu></app-top-menu>
<div class="content">
  <div class="header">Simple-Guardian</div>
  <div class="badges">
    <a href="https://github.com/esoadamo/simple-guardian">
      <img alt="license: MIT" src="https://img.shields.io/badge/license-MIT-success.svg">
    </a>
    <a href="https://adamhlavacek.com">
      <img alt="license: MIT" src="https://img.shields.io/badge/created by-Adam Hlaváček-informational.svg">
    </a>
  </div>
  <code>$ fetch "minimal required knowledge"</code>
  <code>$ exec "easy & fast alternative to Fail2ban"</code>
  <code>$ enjoy "server secured against brute force attacks"</code>
  <div class="text">Yes! It can be this simple! Secure your server under one minute, for free, open source. Join now!
  </div>
  <div *ngIf="http.username.length === 0" class="button" routerLink="/register">Join now</div>
  <div *ngIf="http.username.length > 0" class="button" routerLink="/control">Control panel</div>
</div>
