<app-top-menu></app-top-menu>
<div class="header">
  Simple-Guardian register
</div>
<form (ngSubmit)="register()" action="#">
  <input [(ngModel)]="email" placeholder="mail" type="mail" name="mail">
  <input [(ngModel)]="password"
         [class.warning]="password.length && passwordRepeat.length && password !== passwordRepeat"
         placeholder="password"
         type="password"
         name="password"
  >
  <input [(ngModel)]="passwordRepeat"
         [class.warning]="password.length && passwordRepeat.length && password !== passwordRepeat"
         placeholder="password repeat" type="password"
         name="passwordRepeat"
  >
  <input type="submit" class="button" value="Register">
</form>
